@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


body{
    margin: 0px; padding: 0px;
    font-size: 10pt;
    font-family: 'Ubuntu' sans-serif;
}

#header {
    padding: 2em 10% 0 10%;
}

#header .logo{
    background-image: url(/images/logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    height: 100px;
    text-align: right;
}
#header .logo h1{
    font-size: 40px;
    line-height: 72px;
    margin: 0;
}
#header .logo h2{
    font-size: 18pt;
    line-height: 28px;
    margin: 0;
}

#footer .row {
    display: flex; flex-direction: row;
/*    background: #008080;*/
    background: #00a8b0;
    color: white;
    padding: 2em 10% 2em 10%;
}
#footer .col{
    flex-grow: 1;
}

#footer .copyright{
    padding: 2em 10% 2em 10%;
    font-size: 9pt;
    color: #888;
}
