---
---
@import 'themes';

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


body{
    margin: 0px; padding: 0px;
    font-size: 10pt;
    font-family: 'Ubuntu' sans-serif;
}

#header {
    padding: 0em 12% 3em 12%;
    background-color: $theme-color;
    display: flex;
    flex-direction: row;
}

#header .logo{
    background-image: url(/images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 70px;
    text-align: right;
    margin-top: 4em;
}
#header .logo h1{
    font-size: 40px;
    line-height: 72px;
    margin: 0;
}
#header .logo h2{
    font-size: 18pt;
    line-height: 28px;
    margin: 0;
}

#header .navbar {
    flex-grow: 1;
    display: block;
    text-align: right;
    font-family: sans;
}

#header .navbar-link {
    display: inline-block;
    color: #FFFFFF !important;
    text-decoration: none !important;
    padding-right: 1em;
}

#header .navbar-link.active {
    text-decoration: underline !important;
}

#footer .row {
    display: flex; flex-direction: row;
/*    background: #008080;*/
    background: $theme-color;
    color: white;
    padding: 2em 10% 2em 10%;
}
#footer .col{
    flex-grow: 1;
}

#footer .copyright{
    padding: 2em 10% 2em 10%;
    font-size: 9pt;
    color: #888;
}
