<!DOCTYPE html>
<html>
<head>
<title>{{ site.title }}</title>
<meta charset="utf-8" />

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<link href="/css/default.css" rel="stylesheet" />

</head>
<body>


<div id="header">

    <div class="logo">
    </div>

    <div class="navbar">
        {% for navbar_page in site["navbar-pages"] %}
        <span class="">
          <a class="navbar-link {% if navbar_page.page == page.page %}active{% endif %}" href="/{{ navbar_page.page }}">{{ navbar_page.de }}</a>
        </span>
        {% endfor %}
    </div>

</div>

